<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <!-- Google Tag Manager -->1
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PJ2PK7ZC');</script> -->2
<!-- End Google Tag Manager -->3
    
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> 7
     8
  </head>
  
  <body>
    <!-- Google Tag Manager (noscript) -->4
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ2PK7ZC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->5
 <!-- End Google Tag Manager (noscript) -->6
    <a id="skip-to-content" href="#content">Pasa al contenido.</a>
    <h3 style="text-align: center;"> <a  href="/biopredx.github.io/en/index.html"> Switch to English </h3>

    <header class="page-header" role="banner">
      <h1> <a href="/biopredx.github.io/"> <img src="./assets/image/BioPredX_logo.png" width=75%></a> </h1>
      <h1 class="Row" align center>
  {% for item in site.data.navigation %}
    <div class="Column"><a href="{{ item.link }}"{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}class="current"{% endif %}>{{ item.name }}</a></div>
  {% endfor %}
  </h1>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    
    <footer class="site-footer">
        <p class="Row" align center>
      {% for item in site.data.nav_footer %}
        <div class="Column"><a href="{{ item.link }}"{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}class="current"{% endif %}>{{ item.name }}</a></div>
      {% endfor %}
        </p>  
      {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> está mantenida por <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Esta página fue creada usando <a href="https://pages.github.com">GitHub Pages</a>, basada en el tema <a href="https://pages-themes.github.io/cayman/">Cayman</a>.</span>
      </footer> 
    
  </body>
</html>
